.App {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background: #00ff00; /* Chroma key verde */
  font-family: Arial, Arial Black, Impact, sans-serif;
}

.life {
  width: 45%;
  text-align: center;
  font-size: 12vw;
  font-weight: bold;
  color: white;
  text-shadow: 4px 4px 10px #000;
}

.blue, .red {
  color: white;
}
